@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}



.navigation {
    width: 80%;
    top: 0;
    left: 7%;
    position: absolute;
    z-index: 1;
    margin-left: 10%;
}
.navigation nav {
    display: flex;
}
.navigation nav .logo-container {
    margin-right: 20%;
    margin-top: -5px;
    text-align: center;
}
.navigation nav .logo-container h2 {
    font-size: 2.2em;
    color: #00C49A;
}
.navigation nav .logo-container p {
    font-size: 7px;
    font-weight: 200;
    color: #fff;
}
.navigation nav ul {
    width: 60%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}
.navigation nav ul a {
    text-decoration: none;
    color: #fff;
}
.navigation nav ul li {
    font-weight: 300;
    font-size: 15px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.navigation nav ul li:not(:last-child)::after {
    background: none repeat scroll 0 0  transparent;
    bottom: 0;
    top: 35px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navigation nav ul li:not(:last-child):hover::after {
    width: 70%;
    left: 0;
}
.navigation nav ul li:not(:last-child) {
    padding-top: 15px;
}
.navigation nav ul button {
    padding: 13px 19px;
    margin-top: 7px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #00C49A;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}


.video {
    width: 100%    !important;
    height: auto   !important;
}