@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    font-family: 'Lexend Deca', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}



.navigation {
    width: 80%;
    top: 0;
    left: 7%;
    position: absolute;
    z-index: 1;
    margin-left: 10%;
}
.navigation nav {
    display: flex;
    align-items: center;
}
.navigation nav .logo-container {
    margin-right: 20%;
    margin-top: -3px;
}
.navigation nav .logo-container h2 {
    font-size: 2.2em;
    color: #00C49A;
}
.navigation nav .logo-container p {
    font-size: 7px;
    font-weight: 200;
    color: #00C49A;
}
.navigation nav ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navigation nav ul li {
    font-weight: 300;
    list-style: none;
    align-items: center;
    /* color: #fff; */
}
.navigation nav ul li::after {
    display: absolute;
    top: 0;
    bottom: 10px;
    width: 20%;
    height: 20px;
    left: 0;
    cursor: pointer;
}
.navigation nav ul li::after:hover {
    left: 20%;
    cursor: pointer;
}
.navigation nav ul li:not(:last-child) {
    margin-top: 15px;
}
.navigation nav ul button {
    padding: 10px;
    margin-top: 7px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #00C49A;
    font-family: 'Lexend Deca', sans-serif;
}






.hero-section{
    margin-top: 2%;

}
.text-container {
    top: 30%;
    left: 30%;
    position: absolute;
    z-index: 1;
}
.text-container h1 {
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    text-transform: uppercase;
    /* margin-left: 70%; */
    margin-bottom: 10%;
    width: 100%;
}
.text-container h3 {
    width: 100%;
    color: #fff;
    /* margin-left: 70%; */
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.video-background {
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}