@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}



.navigation {
    margin-left: 10%;
}
.navigation nav {
    display: flex;
}
.navigation nav .logo-container {
    margin-right: 20%;
    margin-top: 10px;
    text-align: center;
}
.navigation nav .logo-container img {
    display: none;
}
.navigation nav .logo-container h2 {
    font-size: 2.2em;
    color: #00C49A;
}
.navigation nav .logo-container p {
    font-size: 7px;
    font-weight: 200;
    color: #000;
}
.navigation nav ul {
    width: 60%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.navigation-ul a {
    text-decoration: none;
    color: #000;
}
.navigation-ul li {
    font-weight: 300;
    font-size: 15px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.navigation-ul li:not(:last-child)::after {
    background: none repeat scroll 0 0  transparent;
    bottom: 0;
    top: 35px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navigation-ul li:not(:last-child):hover::after {
    width: 70%;
    left: 0;
}
.navigation-ul li:not(:last-child) {
    padding-top: 15px;
}
.navigation-ul button {
    padding: 13px 19px;
    margin-top: 7px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #00C49A;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}



.image-container {
    width: 50%;
}
.image-container img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 7px rgb(251,143,103);
}
.text-container h3 {
    font-size: 25px;
}
.span1 {
    color: rgb(251,143,103);
}
.span2 {
    color: rgb(0,196,154);
}
.span3 {
    color: rgb(125,71,51);
}
.span4 {
    color: rgb(248,225,108);
}
.span5 {
    color: rgb(21,96,100);
}
.span6 {
    color: rgb(251,143,103);
}
.span7 {
    color: rgb(255,194,180);
}
.span8 {
    color: rgb(249,230,132);
}
.span9 {
    color: rgb(0,196,154);
}
.text-container h4 {
    width: 46%;
    font-weight: 300;
    font-size: 15px;
    margin: 10px 0;
    line-height: 25px;
}
.text-container img {
    width: 30%;
    margin: 20px 5%;
}


.hero-section {
    margin-top: 10%;
    margin-left: 15%;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}


.payments {
    margin-top: 17%;
    margin-left: 15%;
    display: flex;
    height: 40vh;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.payments1,
.payments2
 {
    margin: 10px;
    width: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payments1 h3 a {
    color: #00C49A;
    text-decoration: none;
}
.payments2 h3 a {
    color: rgb(125,71,51);
    text-decoration: none;
}
.details1 div,
.details2 div
 {
    margin: 20px;
    margin-left: -30%;
}
.details2 div {
    margin-left: -48%;
}
strong {
    font-weight: 500;
}
.payments h4 {
    color: rgb(21,96,100);
}
.payments1 p,
.payments2 p
 {
    margin-top: 10px;
    width: 60%;
    font-size: 13px;
    line-height: 20px;
}
.payments h5 {
    margin-top: 10px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}



.drops {
    width: 70%;
    text-align: center;
    margin: 5% 15%;
    line-height: 40px;
}
.drops h3 {
    margin-top: 7%;
}
.drops h4 {
    color: rgb(0,196,154);
}
.drops p {
    color: rgb(21,96,100);
}



@media (max-width: 376px) {
    .navigation {
        margin-top: 0;
    }
    .navigation-ul {
        visibility: hidden;
        position: absolute;
        flex-direction: column;
        top: 6%;
        left: 70%;
    }
    .navigation-ul li {
        margin: 3px;
        font-size: 13px;
    }
    .navigation-ul li:not(:last-child) {
        padding: 4px;
    }
    .navigation-ul li button {
        padding: 12px 20px;
        font-size: 13px;
    }
    .visible {
        visibility: visible;
    }
    .navigation nav .logo-container {
        width: 75%;
        display: flex;
        margin: 0;
        margin-top: 5%;
        margin-left: 8%;
        justify-content: space-between;
    }
    .navigation  nav .logo-container img {
        display: unset;
        margin-top: 11px;
        height: 3vh;
        width: 8%;
        margin-top: 9px;
    }
    .navigation nav .logo-container h2 {
        font-size: 1.7em;
    }
    .navigation nav .logo-container p {
        font-size: 5px;
    }


    .hero-section {
        flex-direction: column;
        margin-top: 30%;
        margin-bottom: 100%;
    }
    .payments {
        flex-direction: column-reverse;
        margin: 0;
        margin: 10% 0 10% 15%;
        position: absolute;
        top: 150%;
        text-align: center;
    }
    .text-container h4 {
        width: 100%;
        font-size: 14px;
    }
    .text-container img {
        width: 50%;
    }
    .wave2 {
        display: none;
    }
    .image-container {
        width: 100%;
        margin-top: 20px;
    }
    .image-container img {
        box-shadow: unset;
    }
    .payments1,
    .payments2
     {
        flex-direction: column;
    }
    .payments1 p, 
    .payments2 p 
    {
        width: 100%;
        line-height: 30px;
    }
    .details1 div,
    .details2 div
    {
        margin: 0px;
        margin: 10px;
    }
    .payments h5 {
        line-height: 25px;
    }
    strong {
        font-size: 12px;
    }
    .strong-1 {
        font-size: 13px;
        text-decoration: underline;
    }


    .drops {
        position: absolute;
        top: 198%;
    }
    .drops p {
        font-size: 13px;
    }
}