@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}



.navigation {
    margin-left: 10%;
}
.navigation nav {
    display: flex;
}
.navigation nav .logo-container {
    margin-right: 20%;
    margin-top: -5px;
    text-align: center;
}
.navigation nav .logo-container h2 {
    font-size: 2.2em;
    color: #00C49A;
}
.navigation nav .logo-container p {
    font-size: 7px;
    font-weight: 200;
    color: #000;
}
.navigation nav ul {
    width: 60%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.navigation nav ul a {
    text-decoration: none;
    color: #000;
}
.navigation nav ul li {
    font-weight: 300;
    font-size: 15px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.navigation nav ul li:not(:last-child)::after {
    background: none repeat scroll 0 0  transparent;
    bottom: 0;
    top: 35px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navigation nav ul li:not(:last-child):hover::after {
    width: 70%;
    left: 0;
}
.navigation nav ul li:not(:last-child) {
    padding-top: 15px;
}
.navigation nav ul button {
    padding: 13px 19px;
    margin-top: 7px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background-color: #00C49A;
    cursor: pointer;
    font-family: 'Lexend Deca', sans-serif;
}



.image-container {
    width: 50%;
}
.image-container img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 7px rgb(251,143,103);
}
.text-container h3 {
    font-size: 25px;
}
.span1 {
    color: rgb(251,143,103);
}
.span2 {
    color: rgb(0,196,154);
}
.span3 {
    color: rgb(125,71,51);
}
.span4 {
    color: rgb(248,225,108);
}
.span5 {
    color: rgb(21,96,100);
}
.span6 {
    color: rgb(251,143,103);
}
.span7 {
    color: rgb(255,194,180);
}
.span8 {
    color: rgb(249,230,132);
}
.span9 {
    color: rgb(0,196,154);
}
.text-container h4 {
    width: 46%;
    font-weight: 300;
    font-size: 15px;
    margin: 10px 0;
    line-height: 25px;
}
.text-container img {
    width: 30%;
    margin: 20px 5%;
}


.hero-section {
    margin-top: 10%;
    margin-left: 15%;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}


.payments {
    margin-top: 10%;
    margin-left: 15%;
    display: flex;
    height: 40vh;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.payments1,
.payments2
 {
    margin: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payments1 h3 {
    color: #00C49A;
}
.payments2 h3 {
    color: rgb(125,71,51);
}
.details div {
    margin: 20px;
}
strong {
    font-weight: 500;
}
.payments h4 {
    color: rgb(21,96,100);
}
.payments h5 {
    margin-top: 10px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}



.drops {
    width: 70%;
    text-align: center;
    margin: 5% 15%;
    line-height: 40px;
}
.drops h3 {
    margin-top: 7%;
}
.drops h4 {
    color: rgb(0,196,154);
}
.drops p {
    color: rgb(21,96,100);
}